@font-face {
    font-family: firaCode;
    src: url('/font/firacode_vfw.ttf');
}

@font-face {
    font-family: nasinNanpa;
    src: url('/font/nasin_nanpa.otf');
}

@font-face {
    font-family: notoSansThai;
    src: url('/font/noto_sans_thai.ttf');
}

:root {
    --txt_color: #2D353B;
    --txt_size: 1.25em;
    --accent: #a7c080;
    --txtbox_color: #f1e4c5;
    --anchor_color: #cba6f7;
    --bg_color: #f2efdf;
}


body {
    background-color: var(--bg_color);
}

a,
u,
p,
h1,
li {
    color: var(--txt_color);
    text-decoration: none;
    font-family: firaCode;
    font-weight: Bold;
    font-size: var(--txt_size);
}

h1 {
    color: var(--txt_color);
    font-family: firaCode;
    font-weight: Bold;
}

.txtbox {
    display: inline-block;
    background-color: var(--txtbox_color);
    font-family: firaCode;
    font-size: var(--txt_size);
    border: none;
    outline: 0.5em solid var(--accent);
    border-radius: 5px;
    min-width: 16vw;
    transition: min-width 1s;
}

.txtbox:not([value=""]) {
    display: inline-block;
    background-color: var(--txtbox_color);
    font-family: firaCode;
    font-size: var(--txt_size);
    border: none;
    outline: 0.5em solid var(--accent);
    border-radius: 5px;
    min-width: 32vw;
    transition: min-width 1s;
}

.accent {
    color: var(--accent);
}

.anchor {
    color: var(--anchor_color);
    font-size: calc(var(--txt_size));
    transition: font-size 500ms;
}

.anchor:hover {
    color: var(--anchor_color);
    font-size: calc(var(--txt_size) + 0.25em);
    transition: font-size 500ms;
}

.tok {
    font-family: nasinNanpa;
    font-size: calc(var(--txt_size) + 0.50em);
}

.anchor_with_border {
    display: inline-block;
    border: 1em solid var(--accent);
    padding: 1em;
    transition: margin-left 1s;
    transition: margin-left 3s, border 1s;
}

.anchor_with_border:hover {
    display: inline-block;
    border: 1.25em solid var(--accent);
    margin-left: 10%;
    padding: 1em;
    transition: margin-left 3s, border 1s;
}


.doohickey {
    transition: transform 8s;
    transform: rotateY(0deg);
}


.doohickey:hover {
    transition: transform 8s;
    transform: rotateY(180deg);
}