@font-face {
    font-family: firaCode;
    src: url('/font/firacode_vfw.ttf');
}

@font-face {
    font-family: nasinNanpa;
    src: url('/font/nasin_nanpa.otf');
}

@font-face {
    font-family: notoSansThai;
    src: url('/font/noto_sans_thai.ttf');
}

a,
u,
p {
    color: #2D353B;
    text-decoration: none;
    font-size: 2.1415vw;
    font-family: firaCode;
    font-weight: Bold;
}

h1 {
    font-size: 5vw;
    color: #2D353B;
    text-decoration: none;
    font-family: firaCode;
    font-weight: Bold;
}

input {
    background-color: #f1e4c5;
    font-family: firaCode;
    font-size: 2vw;
    border: none;
    outline: 7px solid #a7c080;
    border-radius: 5px;
}

.bak {
    background-color: #f3ead3;
}

.accent {
    color: #a7c080;
    font-weight: bolder;
}